<h2 class="title card-group-heading">Reservaciones</h2>
<table class="res-list table">
  <thead>
    <tr>
      <th>Codigo de solicitud</th>
      <th>Datos del responsable</th>
    </tr>
  </thead>
  <tbody *ngFor="let filter of listFilterRe let idx=index">
    <tr *ngIf="idx >= 0" class="res-item">
      <td class="room-number">{{filter.idReservations}}</td>
      <td class="res-details-c">
        <div class="names">
          {{filter.dateCreate | date:'fullDate'}}
        </div>
        <div class="res-details">
          <div class="res-arrival">Nombre: {{filter.nameResident}}</div>
          <div class="res-arrival">Documento: {{filter.document}}</div>
          <div class="res-leaving">Correo electronico: {{filter.email}}</div>
          <div class="res-nights">Fecha de nacimiento: {{filter.birthDate | date:'fullDate'}}</div>
        </div>
        <div class="res-badges">
          <span class="badge btn-red">Ciudad de solicitud: {{filter.nameCity}}</span>
        </div>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>