div.message {
    position: relative;
    padding: 10px;
    padding-left: 35px;
    margin: 30px 10px;
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    background: #BBB;
    color: #FFF;
    
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
  }
  div.message:hover{
    box-shadow: 0 15px 20px rgba(10,0,10,.3);
    -webkit-filter: brightness(110%);
  }
  
  div.message:before{
    content: '';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    top: -21px;
    left: 50%;
    margin:0 -21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 24px;
    padding:10px;
    background: inherit;
    box-shadow:0 5px 10px rgba(0,0,0,.25);
    color: rgba(255,255,255,.75);
    border-radius:50%;
    border: 2px solid transparent;
    z-index: 2;
  }
  
  div.message.information:before{content:'\f129';}  
  div.message.information{background: #39B;}
/*
https://codepen.io/overdrivemachines/pen/zrYvBo
*/
.res-list {
  /* max-width: 800px; */
  margin: 2em;
}
.res-list thead tr th {
  padding-bottom: 1em;
}
.res-item {
  
  /* display: flex; */
  border-bottom: 1px solid #ccc;
  transition:.5s;
}
.res-item > td {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: middle;
}

.res-item:hover {
  background: #efefef;
  /* transition:.5s; */
}
.res-item:last-child {
  border-bottom: none;
}
.room-number {
  font-size: 2.85em;
  font-weight: 700;
  width: 160px;
  text-align: right;
  border-right: 1px solid #ccc;
  padding-right: 16px;
}
.res-details-c {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 520px;
}
.names {
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 0.33em;
  font-size: 1.1em;
  margin-top: 4px;
}
.res-details {
  padding-bottom: 0.61em;
}
.res-details > div {
  font-size: 0.85em;
  display: inline-block;
  padding-right: 1em;
  width: 190px;
  line-height: 1.3;
}
.res-details > div.res-nights{
  width: 90px;
}
.res-badges {
  
}
.res-badges .badge {
  margin-right: 1em;
}

.res-actions {
  display: flex;
  align-items: center;
}

.res-actions a {
  /* border: 1px solid green; */
  padding: 1em;
}

.table{
  position: relative;
  top: 29em;
  width: 94%;
}

.title{
  position: relative;
  top: 15em;
  text-align: center;
}