<div id="wrapper" style="position: relative;top: 28em;">
  <h2 class="card-group-heading" style="text-align: center;font-size: 3em;">Viajes disponibles</h2>
  <div class="card-container">
    <article class="card assignment-card course-id-2" *ngFor="let travel of responseService">
      <header class="card-header card-backgrund-color">
        <h2>Destino: {{travel.nameDestination}}</h2>
      </header>
      <section class="card-body">
        <div class="card-info">
          <div class="card-info-element">
            <div class="card-info-description">Fecha de salida</div>
            <div style="font-size: 13px;" class="card-info-value">{{travel.dataStart | date:'fullDate'}}</div>
          </div>
          <div class="card-info-element">
            <div class="card-info-description">Fecha llegada</div>
            <div style="font-size: 13px;" class="card-info-value">{{travel.dataEnd | date:'fullDate'}}</div>
          </div>
          <div class="card-info-element">
            <div class="card-info-description">Valor</div>
            <div class="card-info-value">
              <span style="font-size: 14px;width: 67%;" class="card-info-assignment-level">{{travel.cost | currency}}</span>
            </div>
          </div>
        </div>
        <p class="card-body-delimiter"></p>
        <p class="card-tags" style="display: inline">
          <span class="card-tag card-backgrund-color" (click)="verMas(travel)">Ver mas</span>
          <span class="card-tag" (click)="reservationModal()">Reservar</span>
        </p>
        <div class="ec-stars-wrapper">
          <a data-value="1" [ngStyle]="{'color': travel.ratings < 1 ? 'none' : '#268420'}" title="Calificacion de clientes">&#9733;</a>
          <a data-value="2" [ngStyle]="{'color': travel.ratings < 2 ? 'none' : '#268420'}" title="Calificacion de clientes">&#9733;</a>
          <a data-value="3" [ngStyle]="{'color': travel.ratings < 3 ? 'none' : '#268420'}" title="Calificacion de clientes">&#9733;</a>
          <a data-value="4" [ngStyle]="{'color': travel.ratings < 4 ? 'none' : '#268420'}" title="Calificacion de clientes">&#9733;</a>
          <a data-value="5" [ngStyle]="{'color': travel.ratings < 5 ? 'none' : '#268420'}" title="Calificacion de clientes">&#9733;</a>
        </div>
      </section>
      <footer class="card-footer">
        <p>
          <span class="card-progress-bar">
            <span class="card-progress-bar-status card-backgrund-color" data-status="30"></span>
          </span>
        </p>
      </footer>
    </article>
  </div>
</div>


<div id="vermas" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modalTitle">
        <h5 class="modal-title">Mas informacion del viaje</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">


        <ul class="cards clearfix">
          <div style="float: right;">
            <p>Calificacion</p>
            <div class="ec-stars-wrapper" style="display: block">
              <a data-value="1" id="uno" title="Calificacion de clientes">&#9733;</a>
              <a data-value="2" id="dos" title="Calificacion de clientes">&#9733;</a>
              <a data-value="3" id="tres" title="Calificacion de clientes">&#9733;</a>
              <a data-value="4" id="cuatro" title="Calificacion de clientes">&#9733;</a>
              <a data-value="5" id="cinco" title="Calificacion de clientes">&#9733;</a>
            </div>
            <button type="button" class="btn btn-success" style="margin-top: 3em;" (click)="reservationModal()">Reservar</button>
          </div>

          <li>
            <figure class="product-card">
              <a href="#">
                <img class="product-card-img" src="{{urlImg}}" />
                <figcaption>
                  <br>
                  <h5 class="product-card-title">Destino: {{nameDestination}}</h5>
                  <p>Informacion del viaje:
                    <br> {{information}}</p>
                  <p class="product-card-address">
                    <i class="fa fa-map-marker"></i>Fecha de Salida: {{dataStart | date:'fullDate'}}
                  </p>
                  <p class="product-card-address">
                    <i class="fa fa-map-marker"></i>Fecha de llegada: {{dataEnd | date:'fullDate'}}
                  </p>
                  <div class="product-card-price">
                    <p class="amount-price">
                      <span class="from">Valor: </span>
                      {{cost | currency}}
                      <span class="from"></span>
                    </p>
                  </div>
                </figcaption>
              </a>
            </figure>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<button style="display: none" id="modalTrigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#vermas">
</button>

<button style="display: none" id="modalTriggerReservation" type="button" class="btn btn-primary" data-toggle="modal" data-target="#reservation">
</button>


<button style="display: none" id="alert" type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertEdad">
</button>

<div id="reservation" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modalTitle">
        <h5 class="modal-title">Reservar viaje</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <br />
        <div class="inner contact">
          <div class="contact-form">

            <form (ngSubmit)="onSubmit(contactForm);" #contactForm="ngForm">
              <input class="form" matInput placeholder="Nombre" #nombre maxlength="80" [(ngModel)]="ContactModel.nameResident" name="Name"
                required>
              <input class="form" matInput placeholder="Documento" (blur)="validateTravell()" type="email" [(ngModel)]="ContactModel.document"
                name="Email" required>
              <input class="form" matInput placeholder="Email" #tel type="tel" [(ngModel)]="ContactModel.email" name="Phone" maxlength="16">
              <input class="form" type="text" onfocus="(this.type='date')" [(ngModel)]="ContactModel.birthDate" (blur) = "CalculateAge()" matInput placeholder="Fecha de nacimiento"
                #asunto maxlength="60" name="Subject" required>
              <div class="input-group mb-3">
                <select class="form-control" id="power" required [(ngModel)]="ContactModel.nameCity" name="power">
                  <option *ngFor="let city of responseServiceCyti" [value]="city.nameCity">{{city.nameCity}}</option>
                </select>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" [disabled]="!contactForm.form.valid">Enviar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>


<div id="alertEdad" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header modalTitle">
        <h5 class="modal-title">Informacion</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <br />
        <div class="inner contact">
          <div class="contact-form">
            <p>No puedes generar la reserva ya que no eres mayor de edad.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<button style="display: none" id="alertReservation" type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertRe">
</button>


<div id="alertRe" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header modalTitle">
        <h5 class="modal-title">Informacion</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <br />
        <div class="inner contact">
          <div class="contact-form">
            <p>Ya tienes reservados viajes el dia de hoy y no puedes reservar mas viajes por el resto del dia.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>