  
  #wrapper > div {
    font-size: 0;
  }
  
  .card.course-id-1 .card-backgrund-color {
    background-color: #80ACE9;
  }
  
  .card-assignment-icon:before {
    background-color: rgba(128, 172, 233, 0.4);
  }
  
  .card.course-id-2 .card-backgrund-color {
    background-color: #68CF8C;
  }
  
  .card.course-id-4 .card-backgrund-color {
    background-color: #ED7070;
  }
  
  .card-group-heading {
    margin: 0;
    color: #566265;
  }
  
  .card-container {
    font-size: 0;
  }
  
  .card,
  .card * {
    box-sizing: border-box;
  }
  
  .card {
    width: calc(100% - 40px);
    min-width: 300px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    height: 300px;
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-in, box-shadow .1s ease-in;
    /*   -moz-transition: -moz-transform .1s ease-in, box-shadow .1s ease-in; */
    transition: transform .2s ease-in, box-shadow .1s ease-in;
    box-shadow: 0px 2px 2px #dfe6f0;
  }
  
  @media (max-width: 340px) {
    .card {
      margin: 20px calc(50% - 150px);
    }
  }
  
  @media (min-width: 700px) {
    .card {
      width: calc(50% - 41px);
    }
  }
  
  @media (min-width: 1040px) {
    .card {
      width: calc(33.333% - 41px);
    }
  }
  
  
  /* card shadow */
  
  .card:hover {
    box-shadow: 0px 5px 10px #dfe6f0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  
  /* header, footer, and body */
  
  .card-header,
  .card-footer,
  .card-body {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 20px;
    overflow: hidden;
  }
  
  .card-header {
    top: 0;
    height: 50px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-footer {
    bottom: 0;
    height: 50px;
    border-radius: 0 0 5px 5px;
    background-color: #F4F6F8;
  }
  
  .card-body {
    top: 50px;
    bottom: 50px;
  }
  
  .card-header > h2,
  .card-body > p,
  .card-footer > p {
    margin: 0;
  }
  
  
  /* header content */
  
  .card-header > h2 {
    font-size: 16px;
    padding: 6px;
    /* (30 - font-size) / 2 */
    color: white;
  }
  
  
  /* body content*/
  
  
  /* card-info */
  
  .card-info {
    height: 60%;
    display: flex;
    justify-content: center;
  }
  
  .card-info-element {
    align-self: center;
    display: inline-block;
    vertical-align: middle;
  }
  
  .card-info-element {
    width: 30%;
  }
  
  .card-info-description {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #B3BAC1;
    margin-bottom: 10px;
  }
  
  .card-info-value {
    color: #576366;
    font-weight: bold;
    font-size: 30px;
    height: 37px;
    vertical-align: bottom;
  }
  
  .card-info-assignment-level,
  .card-info-deadline {
    color: white;
    background-color: #B3BAC1;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    border-radius: 100px;
  }
  
  .card-info-assignment-level {
    width: 40px;
    height: 40px;
    line-height: 30px;
    padding-top: 2px;
  }
  
  .card-info-deadline {
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: 4px;
    vertical-align: middle;
  }
  
  
  /* delimiter */
  
  .card-body-delimiter {
    background-color: #EDEFF1;
    width: 40px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    top: 112px;
    /* should be info-height + body-padding - delimiter-height / 2 = 108 + 10 - 2 = 116, but since info-values contains a kind of padding it is hardcoded */
    left: calc(50% - 20px);
    /* (body-width - delimiter-width) / 2 = (300 - 40) / 2 = 130 */
  }
  
  
  /* tags */
  
  .card-tags {
    height: 40%;
    display: flex;
    justify-content: center;
  }
  
  .card-tag {
    background-color: #BDC5CD;
    align-self: center;
    display: inline-block;
    padding: 5px 10px;
    margin: 4px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 12px;
  }
  
  
  /* assignment type content */
  
  .card-assignment-icon {
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: calc(50% - 40px);
  }
  
  .card-assignment-icon:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 50%;
  }
  
  .card-assignment-text {
    height: 40%;
    font-size: 14px;
    line-height: 18px;
    color: #a6b0b2;
    position: absolute;
    top: 60%;
    left: 20px;
    right: 20px;
  }
  
  .ml-page-checks:after,
  .ml-cross-check:after {
    content: "";
    background: url("https://cdn0.iconfinder.com/data/icons/outline-business/512/file.png");
    background-size: 50px;
    width: 48px;
    height: 49px;
    display: inline-block;
    background-repeat: no-repeat;
  }
  
  
  /* progress bar */
  
  .card-progress-bar {
    background-color: #DFE4E9;
    border-radius: 4px;
    height: 8px;
    display: block;
    margin: 11px 0;
    position: relative;
  }
  
  .card-progress-bar-status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-radius: 4px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
  
  
  /* footer content */
  
  .card-footer-text {
    display: inline-block;
    color: #576366;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
  }
  
  .card-footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 14px;
    padding: 2px 0;
    margin: 2px 5px 2px 0;
  }
  
  .ml-checkmark:after {
    content: "✔";
  }

  .ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 1.5rem;
	
	color: #888;
}

/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

.modalTitle{
  background: #68CF8C;
  color: white;
}

/* Styles to ignore */
.cards {
  margin: 20px;
  width: 600px;
  list-style-type: none;
}

.cards li {
  float: left;
  width: 46%;
  display: block;
  margin-right: 2%;
  margin-bottom: 10px;
}

img {
  height: auto;
  max-width: 100%;
}

/* End-of-ignore-styles */

.product-card {
	max-width: 280px;
  font-size: 12px;
}

.product-card > a {
  background: #f2f2f2;
  color: #333;
  transition: all 100ms;
  position: relative;
  display: block;
  z-index: 0;
  padding-bottom: 5px;
}

.product-card > a:hover {
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.product-card .product-card-img {
  display: block;
  height: auto;
  max-height: 150px;
  width: 100%;
}

.product-card figcaption {
  display: block;
  padding: 0 10px;
}

.product-card .product-card-address {
  color: #888;
  line-height: 1.2;
}

.product-card .product-card-address i {
	font-size: 14px;
	margin-right: 2px;
  line-height: 1.2;
} 

.product-card .product-card-price {
  display: block;
  text-align: right;
}

.product-card .product-card-price .price-savings,
.product-card .product-card-price .original-price {
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.product-card .product-card-price .price-savings {
  float: left;
  color: green;
  color: #82b548;
}

.product-card .product-card-price .original-price {
  color: #aaa;
  font-size: 14px;
}

.product-card .product-card-price .amount-price {
  text-align: right;
  font-size: 20px;
  color: #82b548;
}

.product-card .product-card-price .from {
  font-size: 12px;
}


#contact{
  padding:10px 0 10px;
}

.contact-text{
  margin:45px auto;
}

.mail-message-area{
  width:100%;
  padding:0 15px;
}

.mail-message{
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message{
  height:0px;
  opacity: 0;
}

.visible-message{
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form{
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover{
  border:1px solid #8BC3A3;
}

.form:focus{
  color: white;
  outline: none;
  border:1px solid #8BC3A3;
}

.textarea{
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

.button{
  padding:8px 12px;
  background:#0A5175;
  display: block;
  width:120px;
  margin:10px 0 0px 0;
  border-radius:3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align:center;
  font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
  background:#8BC3A3;
  color:white;
}

/* Send Button Styles */

.form-btn{
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
  background:#111;
  color: white;
  border:none;
}

.form-btn:active{
  opacity: 0.9;
}
center{
margin-top:330px;
}
input {
  position: relative;
  z-index: 9999;
}

