.plane.flying svg {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: travel 5s ease-in-out infinite;
    animation: travel 5s ease-in-out infinite;
}

body{
    margin: 0;
    padding: 0;
}

.plane svg .trail {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    -webkit-animation: trail 4s linear infinite;
    animation: trail 4s linear infinite;
    -webkit-transform: scaleX(-1) translateX(100%);
    -ms-transform: scaleX(-1) translateX(100%);
    transform: scaleX(-1) translateX(100%);
}
@-webkit-keyframes travel {
    0%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }
}

@keyframes travel {
    0%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }
}


@-webkit-keyframes trail {
    0% {
        stroke-dashoffset: 800;
        -webkit-transform: scaleX(-1) translateX(100%);
        transform: scaleX(-1) translateX(100%)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
        -webkit-transform: scaleX(-1) translateX(80%);
        transform: scaleX(-1) translateX(80%)
    }
}

@keyframes trail {
    0% {
        stroke-dashoffset: 800;
        -webkit-transform: scaleX(-1) translateX(100%);
        transform: scaleX(-1) translateX(100%)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
        -webkit-transform: scaleX(-1) translateX(80%);
        transform: scaleX(-1) translateX(80%)
    }
}
.velocity-animating {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn2.f-cdn.com/contestentries/348905/1178846/56bdf35505c4b_thumb900.jpg);
    background-position: center bottom;
    background-repeat: repeat-x;
    overflow: visible;
    z-index: -1;
    will-change: transform;
}


@-webkit-keyframes bg {
    0% {
        -webkit-transform: translateX(50%);
    }

    50% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(50%);
    }
}



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
  }
  
  .js-nav {
    color: white;
    text-decoration: none;
    position: absolute;
    left: 2em;
  }
  
  .StreamsHero-image {
    /* Wave Color */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59adeb+0,42c2b5+52,34ce93+100 */
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #59adeb 0%, #42c2b5 52%, #34ce93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
    /* End Wave Color */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .StreamsHero-header {
    color: #fff;
    font-weight: 200;
    line-height: 48px;
    margin-bottom: -5px;
    font-size: 32px;
  }
  
  .StreamsHero-blurb {
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    line-height: 28px;
    opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    transition: opacity 300ms linear;
    padding-bottom: 2em;
  }
  
  
  /* Buttons */
  
  .Button {
    -webkit-appearance: none;
    background: transparent;
    border-color: currentcolor;
    border-style: solid;
    border-width: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: .4em .75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
  }
  
  .StreamsHero-buttonContainer {
    color: #fff;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: right;
    width: 95%;
  }
  
  .StreamsHero-buttonContainer .Button {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 35px;
  }
  
  .StreamsHero-buttonContainer .Button.StreamsLogin {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid transparent;
  }
  
  .StreamsHero-buttonContainer .Button:hover,
  .StreamsHero-buttonContainer .Button:focus {
    background: #fff;
    color: #1da1f2;
  }
  
  
  /* Animation Wave Color */
  
  @-webkit-keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  
  @keyframes waveColors {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }
  
  
  /* End Animation Wave Color */
.search {
    width: 30%;
    margin-bottom: 40px;
    display: inline-flex;
  }
