<div class="plane flying">
  <svg version="1.1" width="415.1px" height="86px">
    <path fill="#FFFFFF" d="M367.7,72.5H212.2c-21.5,0-42.4-2.4-59.1-16c-4.4-3.6-8.7-7.2-12.5-11.4c-1.1-1.2-2-2.5-1.5-4.2
    c0.4-1.4,1.8-2.5,3.3-2.5h9.6l-3-6.6L135.3,2h14.5l25.7,29.5c3.7,4.4,9.1,6.9,14.9,6.9h161.9c40.4,0,58.2,14.4,58.6,25.6
    C411.2,75.5,378.6,72.5,367.7,72.5z"></path>
    <g>
      <defs>
        <path id="SVGID_1_" d="M367.7,72.5H212.2c-21.5,0-42.4-2.4-59.1-16l-13-11.7c-2.6-2.1-1.1-6.3,2.3-6.3h9.6L135.3,2h14.5l25.7,29.5
        c3.7,4.4,9.1,6.9,14.9,6.9h161.9c40.4,0,58.2,14.4,58.6,25.6C411.2,75.5,378.6,72.5,367.7,72.5z"></path>
      </defs>
      <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" overflow="visible"></use>
      </clipPath>
      <path clip-path="url(#SVGID_2_)" class="body" fill="#E8E8E8" d="M414.1,101.4H130.5c-3.3,0-5.9-32.7-5.9-35.9v0c0-0.9,0.7-1.6,1.6-1.6h287.9
      V101.4z"></path>
      <path clip-path="url(#SVGID_2_)" class="body" fill="#E4004A" d="M187.2,25.2c0,0-4.7,17.1-25.4,8.1c-8-3.5-20.2-1.7-20.2-1.7L107.8,0.2l54-3.5
      L187.2,25.2z"></path>
      <path clip-path="url(#SVGID_2_)" class="body" fill="#3B9AA5" d="M413.2,56.3h-25.3c-10.4,0-17.5-4.8-17.5-8.1v0c0-0.9,0.7-1.6,1.6-1.6h41.2
      V56.3z"></path>
    </g>
    <path fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M379.1,43.1c13.8,4.4,21.2,11.3,23.2,17.7"></path>
    <path fill="#E8E8E8" d="M278.1,65.5h22.5V82l-12.9,0c-5.2,0-9.4-4.1-9.6-9.2c0-0.1,0-0.1,0-0.2V65.5z"></path>
    <ellipse fill="#CECECE" cx="300.5" cy="72.9" rx="6.4" ry="9.2"></ellipse>
    <path fill="#B2B2B2" d="M301.6,76.4c-0.7,0.4-1.6,0.1-1.9-0.6c-0.3-0.7-0.6-1.7-0.6-2.9c0-1.4,0.3-2.5,0.7-3.2
    c0.3-0.5,1-0.7,1.5-0.4c1.2,0.7,3.3,1.9,3.3,3.6C304.7,74.5,302.9,75.7,301.6,76.4z"></path>
    <path fill="#FFFFFF" d="M269.3,63.1l-54.1,18.7c-0.9,0.5-0.2,1.3,1.1,1.3h11.5c2.4,0,4.8-0.3,6.9-0.9L323,62.7
    c1.4-0.4,1.1-1.4-0.4-1.6c-3.2-0.5-9.9-0.9-24.1-0.9c-11.5,0-19.7,0.8-23.9,1.3C272.6,61.8,270.7,62.3,269.3,63.1z"></path>
    <path fill="#BFE3DB" d="M334,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C337.5,56.4,336,57.9,334,57.9z"></path>
    <path fill="#BFE3DB" d="M322,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C325.5,56.4,324,57.9,322,57.9z"></path>
    <path fill="#BFE3DB" d="M310,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C313.5,56.4,312,57.9,310,57.9z"></path>
    <path fill="#BFE3DB" d="M298,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C301.5,56.4,300,57.9,298,57.9z"></path>
    <path fill="#BFE3DB" d="M286,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C289.5,56.4,288,57.9,286,57.9z"></path>
    <path fill="#BFE3DB" d="M274,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C277.5,56.4,276,57.9,274,57.9z"></path>
    <path fill="#BFE3DB" d="M262,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C265.5,56.4,264,57.9,262,57.9z"></path>
    <path fill="#BFE3DB" d="M237,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C240.5,56.4,239,57.9,237,57.9z"></path>
    <path fill="#BFE3DB" d="M225,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C228.5,56.4,227,57.9,225,57.9z"></path>
    <path fill="#BFE3DB" d="M213,57.9h-1.3c-1.9,0-3.5-1.6-3.5-3.5v-2.6c0-1.9,1.6-3.5,3.5-3.5h1.3c1.9,0,3.5,1.6,3.5,3.5v2.6
    C216.5,56.4,215,57.9,213,57.9z"></path>
    <path fill="#FFFFFF" stroke="#E8E8E8" stroke-miterlimit="10" d="M193,65.9h-2.3c-1.9,0-3.5-1.6-3.5-3.5v-9.6c0-1.9,1.6-3.5,3.5-3.5
    h2.3c1.9,0,3.5,1.6,3.5,3.5v9.6C196.5,64.4,195,65.9,193,65.9z"></path>
    <path fill="#FFFFFF" stroke="#E8E8E8" stroke-miterlimit="10" d="M250,65.9h-2.3c-1.9,0-3.5-1.6-3.5-3.5v-9.6c0-1.9,1.6-3.5,3.5-3.5
    h2.3c1.9,0,3.5,1.6,3.5,3.5v9.6C253.5,64.4,252,65.9,250,65.9z"></path>
    <path fill="#FFFFFF" stroke="#E8E8E8" stroke-miterlimit="10" d="M355,65.9h-2.3c-1.9,0-3.5-1.6-3.5-3.5v-9.6c0-1.9,1.6-3.5,3.5-3.5
    h2.3c1.9,0,3.5,1.6,3.5,3.5v9.6C358.5,64.4,357,65.9,355,65.9z"></path>
    <circle fill="#E8E8E8" cx="191.9" cy="57.6" r="0.9"></circle>
    <circle fill="#E8E8E8" cx="248.9" cy="57.6" r="0.9"></circle>
    <circle fill="#E8E8E8" cx="353.9" cy="57.6" r="0.9"></circle>
    <ellipse fill="#FFFFFF" cx="151.3" cy="49.6" rx="15.2" ry="2.2"></ellipse>
    <path fill="#FFFFFF" d="M152.2,13.9c-0.6-0.2-1.2-0.1-1.9,0.2c-0.7,0.3-1.1,0.8-1.4,1.3c-0.2,0.6-0.2,1.2,0.1,1.8l0.4,0.9
    c0,0,0,0,0,0l1.3,2.9c0,0.1,0.1,0.1,0.2,0.1l1.4-0.6l0.8,1.7c0,0.1,0.1,0.2,0.2,0.3c0.2,0.2,0.5,0.3,0.8,0.2c0,0,0,0,0,0
    c0,0,0,0,0.1,0l0,0l0,0l0,0l0,0c0,0,0,0,0.1,0c0,0,0,0,0,0c0.3-0.2,0.4-0.4,0.4-0.7c0-0.1,0-0.2-0.1-0.3l-0.8-1.7l1.4-0.6
    c0.1,0,0.1-0.1,0.1-0.2l-0.9-1.9c0,0,0,0,0,0l-0.9-1.9C153.2,14.5,152.8,14.1,152.2,13.9z M152.1,15.8l0.4,0.8l0,0l0.9,1.8l-1.7,0.8
    l-1.2-2.7c-0.1-0.2-0.1-0.5,0-0.7c0.1-0.2,0.3-0.4,0.5-0.5c0.2-0.1,0.5-0.1,0.7,0C151.9,15.4,152,15.5,152.1,15.8z"></path>
    <path fill="none" class="trail" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
      d="
    M5.8,48c4.4,6,11.8,9,19,10.7c15,3.5,31.6,1.9,44.4-6.6c3.5-2.3,6.8-5.2,8.6-9c1.9-3.8,2.1-8.5-0.2-12.1c-2.6-4-8.4-5.6-12.8-3.7
    c-4.4,1.9-7.3,6.8-7,11.6c0.2,3.5,1.9,6.8,4.1,9.5c6,7.1,16,10.1,25.2,8.8c9.2-1.3,17.6-6.5,24-13.2"></path>
  </svg>
</div>

<div class="StreamsHero-image">
  <div class="StreamsHero-content" style="height: 32.2em;">
    <div class="StreamsHero-buttonContainer">
      <a class="js-nav" data-element="logo" target="_blank">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <!--
  -->
        <small>by @agencyTravel</small>
      </a>
      <a class="Button StreamsSignUp js-signup" href="https://twitter.com/signup" data-component="hero" data-element="buttons">Viajes</a>
      <a class="Button StreamsLogin js-login" (click)="openModal()">Reservas</a>
    </div>
    <div class="search">
      <div class="input-group">
        <input id="search-input" type="text" class="form-control" placeholder="Buscar reservas por documento" [(ngModel)] = "search" required>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" (click) = "validateReservas()">
            <img style="width: 1em;" src="https://icon-icons.com/icons2/624/PNG/512/Search-80_icon-icons.com_57273.png" class="fa fa-search"/>
          </button>
        </span>
      </div>
    </div>
    <h2 class="StreamsHero-header">Reserva y compra tus viajes ya.</h2>
    <p class="StreamsHero-blurb">La plataforma de ventas y reserva de viajes mas economica de la web.</p>
  </div>
</div>
